@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/image/PATTERN-02 2.png');
  background-repeat: repeat;         /* biar gambarnya kecil dan berulang */
  background-size: 880px;            /* atur ukuran gambar */
  background-position: top left;     /* mulai dari kiri atas */
}


